/* font imports */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700,900&display=swap');

* {
  box-sizing: border-box;
}

.bg_ambient_1 {
  background: linear-gradient(
    0deg,
    var(--gradient-color-ambient-1a) 0%,
    var(--gradient-color-ambient-1b) 100%
  );
}

/* light = default */
body {
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
  height: 100%;
  line-height: 130%;

  --spacing-10: 10px;
  --spacing-8: 8px;
  --border-radius-8: 8px;
  --border-radius-5: 5px;

  --color-light-1: #eeffff;
  --color-light-2: #e5fcfd;
  --color-light-3: #c6e4e4;

  --color-grey-1: #93abab;

  --color-dark-1: #1a3641;
  --color-dark-2: #0b333a;
  --color-dark-shimmer-1: rgba(39, 82, 93, 0.05);
  --color-dark-shimmer-2: rgba(0, 156, 156, 0.15);

  --color-accent-shimmer-1: rgba(24, 96, 105, 0.1);
  --color-accent-shimmer-2: rgba(40, 113, 113, 0.09);

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;

  --gradient-color-ambient-1a: rgba(220, 255, 221, 1);
  --gradient-color-ambient-1b: rgba(155, 237, 255, 1);

  /* palette */
  --palette-black: 0, 0, 0;
  --palette-white: 255, 255, 255;

  --palette-teal-100: 214, 255, 255;
  --palette-teal-200: 186, 255, 255;
  --palette-teal-300: 155, 255, 255;
  --palette-teal-400: 119, 255, 255;
  --palette-teal-500: 74, 236, 236;
  --palette-teal-600: 47, 209, 209;
  --palette-teal-700: 26, 175, 175;
  --palette-teal-800: 32, 156, 156;
  --palette-teal-900: 27, 123, 123;
  --palette-teal-1000: 22, 81, 81;
  --palette-teal-1100: 17, 56, 56;
  --palette-teal-1200: 10, 33, 33;

  /* colors */
  --color-black: var(--palette-black);
  --color-white: var(--palette-white);

  --color-primary-100: var(--palette-teal-100);
  --color-primary-200: var(--palette-teal-200);
  --color-primary-300: var(--palette-teal-300);
  --color-primary-400: var(--palette-teal-400);
  --color-primary-500: var(--palette-teal-500);
  --color-primary-600: var(--palette-teal-600);
  --color-primary-700: var(--palette-teal-700);
  --color-primary-800: var(--palette-teal-800);
  --color-primary-900: var(--palette-teal-900);
  --color-primary-1000: var(--palette-teal-1000);
  --color-primary-1100: var(--palette-teal-1100);
  --color-primary-1200: var(--palette-teal-1200);

  --color-on-primary-100: var(--palette-black);
  --color-on-primary-200: var(--palette-black);
  --color-on-primary-300: var(--palette-black);
  --color-on-primary-400: var(--palette-black);
  --color-on-primary-500: var(--palette-black);
  --color-on-primary-600: var(--palette-black);
  --color-on-primary-700: var(--palette-white);
  --color-on-primary-800: var(--palette-white);
  --color-on-primary-900: var(--palette-white);
  --color-on-primary-1000: var(--palette-white);
  --color-on-primary-1100: var(--palette-white);
  --color-on-primary-1200: var(--palette-white);
}

body[data-theme="white"] {
  --color-light-1: white;
  --color-light-2: white;
  --color-light-3: #e4e4e4;

  --color-accent-1: #9eb908;
  --color-accent-1b: #8ca20d;
  --color-accent-2: #788a18;
  --color-accent-shimmer-1: rgba(120, 138, 24, 0.08);

  --color-dark-1: #1a3641;
  --color-dark-2: #3a3a3a;
  --color-dark-shimmer-1: rgba(53, 53, 53, 0.05);
  --color-dark-shimmer-2: rgba(171, 171, 171, 0.12);

  --color-grey-1: #989898;

  --color-ambient-1: white;
  --gradient-color-ambient-1a: white;
  --gradient-color-ambient-1b: white;
}
body[data-theme="anemone"] {
  --color-light-1: #14323e;
  --color-light-2: #3d7082;
  --color-light-3: #296279;

  --color-dark-1: white;
  --color-dark-2: white;
  --color-dark-shimmer-2: rgba(13, 78, 84, 0.25);

  --color-grey-1: #7898a5;

  --gradient-color-ambient-1a: #17212c;
  --gradient-color-ambient-1b: #17212c;

  color: white;
}

body[data-theme="space"] {
  --color-light-1: #132c46;
  --color-light-2: #1b2e42;
  --color-light-3: #385b7f;

  --color-accent-1: #5633e2;
  --color-accent-2: #4932a5;
  --color-accent-shimmer-1: rgba(73, 50, 165, 0.14);

  --color-dark-1: white;
  --color-dark-2: white;
  --color-dark-shimmer-1: rgba(19, 51, 70, 0.21);
  --color-dark-shimmer-2: rgba(51, 49, 60, 0.32);

  --color-grey-1: #7790ab;

  --gradient-color-ambient-1a: rgb(10, 7, 31);
  --gradient-color-ambient-1b: #05151d;

  color: white;
}

body[data-theme="dark"] {
  --color-light-1: #2b2e2f;
  --color-light-2: #1b2e42; /* @todo set */
  --color-light-3: #525b5f;

  --color-accent-1: #18aaff;
  --color-accent-1b: #2698da;
  --color-accent-2: #3898d0;
  --color-accent-shimmer-1: rgba(56, 152, 208, 0.14);

  --color-dark-1: white;
  --color-dark-2: white;
  --color-dark-shimmer-1: rgba(43, 46, 47, 0.25);
  --color-dark-shimmer-2: rgba(51, 49, 60, 0.32);

  --color-grey-1: #8d989c;

  --gradient-color-ambient-1a: rgb(18, 16, 29);
  --gradient-color-ambient-1b: #0d0f10;

  /* colors */
  color: white;

  --color-black: var(--palette-white);
  --color-white: var(--palette-black);

  --color-primary-100: var(--palette-teal-1200);
  --color-primary-200: var(--palette-teal-1100);
  --color-primary-300: var(--palette-teal-1000);
  --color-primary-400: var(--palette-teal-900);
  --color-primary-500: var(--palette-teal-800);
  --color-primary-600: var(--palette-teal-700);
  --color-primary-700: var(--palette-teal-600);
  --color-primary-800: var(--palette-teal-500);
  --color-primary-900: var(--palette-teal-400);
  --color-primary-1000: var(--palette-teal-300);
  --color-primary-1100: var(--palette-teal-200);
  --color-primary-1200: var(--palette-teal-100);

  --color-on-primary-100: var(--palette-white);
  --color-on-primary-200: var(--palette-white);
  --color-on-primary-300: var(--palette-white);
  --color-on-primary-400: var(--palette-white);
  --color-on-primary-500: var(--palette-white);
  --color-on-primary-600: var(--palette-white);
  --color-on-primary-700: var(--palette-black);
  --color-on-primary-800: var(--palette-black);
  --color-on-primary-900: var(--palette-black);
  --color-on-primary-1000: var(--palette-black);
  --color-on-primary-1100: var(--palette-black);
  --color-on-primary-1200: var(--palette-black);
}

body[data-theme="black"] {
  --color-light-1: #101010;
  --color-light-2: #1b2e42;
  --color-light-3: #333333;

  --color-accent-1: #bb174c;
  --color-accent-1b: #9a1d45;
  --color-accent-2: #651f36;
  --color-accent-shimmer-1: rgba(101, 31, 54, 0.14);

  --color-dark-1: white;
  --color-dark-2: white;
  --color-dark-shimmer-1: rgba(0, 0, 0, 0.15);
  --color-dark-shimmer-2: rgba(255, 255, 255, 0.05);
  --color-ambient-1: black;

  --color-grey-1: #737373;

  --gradient-color-ambient-1a: black;
  --gradient-color-ambient-1b: black;

  /* colors */
  --color-black: var(--palette-white);
  --color-white: var(--palette-black);

  --color-primary-100: var(--palette-teal-1200);
  --color-primary-200: var(--palette-teal-1100);
  --color-primary-300: var(--palette-teal-1000);
  --color-primary-400: var(--palette-teal-900);
  --color-primary-500: var(--palette-teal-800);
  --color-primary-600: var(--palette-teal-700);
  --color-primary-700: var(--palette-teal-600);
  --color-primary-800: var(--palette-teal-500);
  --color-primary-900: var(--palette-teal-400);
  --color-primary-1000: var(--palette-teal-300);
  --color-primary-1100: var(--palette-teal-200);
  --color-primary-1200: var(--palette-teal-100);

  --color-on-primary-100: var(--palette-white);
  --color-on-primary-200: var(--palette-white);
  --color-on-primary-300: var(--palette-white);
  --color-on-primary-400: var(--palette-white);
  --color-on-primary-500: var(--palette-white);
  --color-on-primary-600: var(--palette-white);
  --color-on-primary-700: var(--palette-black);
  --color-on-primary-800: var(--palette-black);
  --color-on-primary-900: var(--palette-black);
  --color-on-primary-1000: var(--palette-black);
  --color-on-primary-1100: var(--palette-black);
  --color-on-primary-1200: var(--palette-black);

  color: white;
}

/* elements */
.btn_primary {
  cursor: pointer;
  outline: none;
  background: rgb(var(--color-primary-800));
  color: rgb(var(--color-on-primary-800));
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
  font-size: 14px;
  transition: all 0.15s;
}

.btn_primary:hover {
  background: rgb(var(--color-primary-900));
}

.btn_primary:focus {
  outline: none;
}

.btn_primary:active {
  background: rgb(var(--color-primary-1000));
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.btn_secondary {
  box-shadow: none;
  background: rgba(var(--color-primary-800), 0.1);

  border: 1px solid;
  border-color: rgba(var(--color-primary-1000), 0.3);

  color: rgb(var(--color-primary-1000));

  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.15s;

  cursor: pointer;
  outline: none;
}

.btn_secondary:hover {
  background: rgba(var(--color-primary-800), 0.2);
  border-color: rgba(var(--color-primary-1000), 0.8);
}
